@charset "UTF-8";
/*============HEADER V1 ==================*/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }

.marginbottom__3x {
  margin-bottom: 30px; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }

@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }

@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }

@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }

@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #ea3a3c; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 [2] BLOCK FOOTER
 ==============================================*/
.typeheader-2 {
  /*HEADER SEARCH*/
  /*BLOCK CART*/ }
  .typeheader-2 .header-bonus {
    position: relative; }
  .typeheader-2 .header-bonus .coupon-code {
    margin: 0;
    padding: 12px 0;
    background: #3fa69f;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px; }
  .typeheader-2 .header-bonus .coupon-code p {
    color: #fff;
    font-weight: bold;
    margin: 0;
    font-size: 14px; }
  .typeheader-2 .header-bonus .topbar-close {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    z-index: 2;
    cursor: pointer;
    right: 20px;
    left: auto; }
  .typeheader-2 .header-bonus .topbar-close span.button {
    border-radius: 0 0 3px 3px;
    position: relative;
    display: block;
    color: transparent;
    text-align: center;
    padding: 0;
    background: #ed3f46;
    transition: all 0.3s ease 0s;
    cursor: pointer; }
  .typeheader-2 .header-bonus .topbar-close span.button:before {
    content: "\f102";
    font-size: 16px;
    position: absolute;
    top: 0;
    bottom: auto;
    font-family: fontawesome;
    color: #fff;
    font-weight: bold;
    left: 4px;
    right: auto; }
  .typeheader-2 .header-bonus .topbar-close span.button.active:before {
    content: "\f103"; }
  .typeheader-2 .contact-html {
    padding: 6px 0; }
  .typeheader-2 .contact-html span.email {
    padding: 0 20px; }
  .typeheader-2 .contact-html span.email:before {
    content: "\f0e0";
    font-family: fontawesome;
    font-size: 14px;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto; }
  .typeheader-2 .contact-html span.email:after {
    content: "";
    background: #ccc;
    height: 10px;
    width: 1px;
    position: absolute;
    top: 8px;
    bottom: auto;
    left: auto;
    right: 0; }
  .typeheader-2 .contact-html span.add {
    padding: 0 15px;
    margin: 0 17px; }
  .typeheader-2 .contact-html span.add:before {
    content: "\f041";
    font-family: fontawesome;
    font-size: 14px;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto; }
  .typeheader-2 .contact-html span.email, .typeheader-2 .contact-html span.add {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    float: left; }
  .typeheader-2 .header-top {
    border-bottom: 1px solid #ea3a3c;
    background: #ea3a3c; }
  .typeheader-2 .header-top .header-top-right {
    text-align: right;
    line-height: 38px; }
  .typeheader-2 .header-top .header-top-right ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top; }
  .typeheader-2 .header-top .header-top-right ul.top-link > li {
    padding: 0;
    display: inline-block;
    position: relative;
    list-style: outside none none;
    margin-right: 30px;
    color: #fff;
    float: left; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li:after {
      content: '';
      background: #ebebeb;
      width: 1px;
      height: 10px;
      position: absolute;
      top: 14px;
      right: -15px; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li:last-child {
      margin: 0; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li:last-child:after {
        display: none; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li.login a {
      padding: 0 3px; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li.login a.res {
        padding-left: 0; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li > a {
      display: inline-block;
      padding: 0 13px;
      position: relative;
      color: #fff;
      font-size: 12px;
      line-height: 20px; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li > a:hover {
        color: #fff; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li > a:before {
        font-family: 'FontAwesome';
        margin-right: 7px; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li > a span.fa-angle-down {
        position: relative;
        left: 5px; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li.account > a:before {
      content: "\f007"; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li.wishlist a:before {
      content: "\f004"; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li.checkout a:before {
      content: "\f045"; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li .btn-group {
      display: block;
      font-size: 12px; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li .btn-group .btn-link {
        padding: 0;
        border: none; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li .btn-group .text {
        display: none; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li .btn-group .dropdown-menu {
        line-height: 20px; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li ul.dropdown-link {
      position: absolute;
      background: #fff;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
      opacity: 0;
      padding: 0px 10px;
      top: 33px;
      transition: top 0.3s ease 0s, opacity 0.3s ease 0s;
      width: 200px;
      z-index: -1;
      text-align: left;
      left: 0; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li ul.dropdown-link li {
        display: block;
        border-left: 0; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a {
        display: block;
        padding: 5px 0 4px;
        border-bottom: solid 1px #efefef;
        font-size: 11px;
        line-height: 18px;
        color: #555;
        border-right: 0; }
        .typeheader-2 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a:hover {
          color: #ea3a3c; }
        .typeheader-2 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a:after {
          display: none; }
      .typeheader-2 .header-top .header-top-right ul.top-link > li ul.dropdown-link li:last-child a {
        border-bottom: 0; }
    .typeheader-2 .header-top .header-top-right ul.top-link > li.account:hover ul.dropdown-link {
      top: 34px;
      z-index: 9999;
      opacity: 1;
      border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-2 .header-center {
    padding: 26px 0 25px;
    background: #fff; }
  .typeheader-2 .header-center .phone-header {
    background: url("../../image/icon/icon-phone.png") no-repeat left top 5px;
    padding: 0px 15px 0px 45px;
    color: #2d2d2d;
    position: absolute;
    top: 2px;
    line-height: 22px;
    right: 0; }
  .typeheader-2 .header-center .phone-header .text {
    font-weight: bold;
    color: #2d2d2d;
    text-transform: capitalize; }
  .typeheader-2 .header-center .phone-header .phone {
    color: #ea3a3c; }
  .typeheader-2 .header-center .phone-header a {
    color: #444; }
  .typeheader-2 .header-center .phone-header a:hover {
    color: #ea3a3c; }
  .typeheader-2 .header-bottom {
    background: #ea3a3c; }
  .typeheader-2 .header-bottom .container .header-bottom-inner .header_search {
    padding: 0;
    margin-top: 7px; }
    @media (min-width: 1200px) {
        .typeheader-2 .header-bottom .container .header-bottom-inner .header_search {
          width: 70%; } }
  .typeheader-2 .header-bottom .header-right {
    padding: 0;
    position: absolute;
    right: 15px; }
  .typeheader-2 .header-bottom .header_custom_link {
    float: right; }
  .typeheader-2 .header-bottom .header_custom_link li {
    display: inline-block;
    float: left;
    margin: 10px 5px 9px;
    height: 36px; }
  .typeheader-2 .header-bottom .header_custom_link li a {
    display: inline-block;
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ea3a3c; }
  .typeheader-2 .header-bottom .header_custom_link li.wishlist a {
    background: url("../../image/icon/icon_general.png") no-repeat -12px -1403px #fff;
    position: relative; }
  .typeheader-2 .header-bottom .header_custom_link li.compare a {
    background: url("../../image/icon/icon_general.png") no-repeat -14px -1295px #fff;
    position: relative; }
  .typeheader-2.navbar-compact .header-top {
    display: none; }
  .typeheader-2.navbar-compact .header-center {
    padding: 16px 0 10px; }
  .typeheader-2.navbar-compact .header-bottom {
    padding: 0px;
    position: fixed;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; }
  .typeheader-2.navbar-compact .header-bottom .container-megamenu.horizontal ul.megamenu > li > a strong img {
    display: none; }
  .typeheader-2 #main-content, .typeheader-2 #content {
    margin-bottom: 30px; }
  .typeheader-2 .header_search {
    margin-top: 4px; }
  .typeheader-2 #sosearchpro.so-search {
    margin: 0;
    width: 100%;
    padding: 0; }
  .typeheader-2 #sosearchpro.so-search .search {
    border: none;
    background: #fff;
    border-radius: 28px; }
  .typeheader-2 #sosearchpro.so-search .select_category {
    border-radius: 22px 0 0 22px !important;
    width: 160px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #ebebeb;
    background: transparent;
    cursor: pointer;
    padding-left: 10px; }
  .typeheader-2 #sosearchpro.so-search .select_category select {
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    padding-right: 26px; }
  .typeheader-2 #sosearchpro.so-search .select_category:after {
    content: "\f0d7";
    background-color: transparent;
    line-height: 38px;
    width: 20px;
    color: #444;
    right: 10px;
    left: auto; }
  .typeheader-2 #sosearchpro.so-search .autosearch-input {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #ebebeb;
    height: 40px;
    background: #fff;
    border-left: 1px solid #ebebeb; }
  .typeheader-2 #sosearchpro.so-search .button-search {
    background: transparent;
    font-size: 16px;
    height: 40px;
    padding: 0 8px;
    min-width: 68px;
    text-align: center;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ebebeb;
    border-radius: 0 28px 28px 0; }
  .typeheader-2 #sosearchpro.so-search .button-search i {
    color: #ea3a3c;
    font-size: 16px; }
  .typeheader-2 #sosearchpro.so-search .button-search:hover {
    background: none; }
  .typeheader-2 #sosearchpro.so-search .button-search:hover i {
    color: #da1719; }
  .typeheader-2 .header-cart-phone {
    text-align: right;
    margin-top: 4px; }
  .typeheader-2 .header-cart-phone .bt-head {
    text-align: left;
    display: inline-block;
    vertical-align: top; }
  .typeheader-2 .header-cart-phone .call-us div.icon {
    width: 35px;
    height: 40px;
    background: url("../../image/icon/icon-call-us.png") no-repeat center center;
    margin-right: 5px; }
  .typeheader-2 .header-cart-phone .call-us div.text p.text {
    color: #222;
    font-weight: bold; }
  .typeheader-2 .header-cart-phone .call-us div.text p {
    margin-bottom: 0;
    line-height: 20px; }
  .typeheader-2 .header-cart-phone .call-us div.text p.phone {
    color: #555;
    font-size: 12px; }
  .typeheader-2 .header-cart-phone .call-us div.icon, .typeheader-2 .header-cart-phone .call-us div.text {
    display: inline-block;
    vertical-align: top; }
  .typeheader-2 .header-cart {
    position: relative;
    margin-left: 18px; }
  .typeheader-2 .header-cart .handle {
    float: left;
    width: 32px;
    height: 40px;
    text-align: center;
    padding: 0;
    color: #fff;
    position: relative;
    background: url("../../image/icon/icon-shopping.png") no-repeat center center;
    font-size: 0;
    margin-right: 8px; }
  .typeheader-2 .header-cart .cart-info {
    float: left; }
  .typeheader-2 .header-cart h2.title-cart {
    display: none; }
  .typeheader-2 .header-cart h2.title-cart2 {
    display: block !important;
    vertical-align: middle;
    color: #222;
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 18px; }
  .typeheader-2 .header-cart .btn-shopping-cart .fa-check-circle, .typeheader-2 .header-cart .btn-shopping-cart .items_carts {
    display: none; }
  .typeheader-2 .header-cart .btn-shopping-cart .cart-total-full {
    line-height: 20px;
    padding: 0;
    color: #ed3f46;
    font-size: 12px; }
  .typeheader-2 .header-cart .dropdown-menu {
    margin: 5px 0;
    top: 40px;
    right: -11px;
    left: auto; }
  .typeheader-2 .header-cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-2 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
    height: 50px; }
  .typeheader-2 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .container {
    background: transparent;
    line-height: 50px; }
  @media (min-width: 1200px) {
    .typeheader-2 .header-bottom-left {
      padding-right: 8px; } }
  .typeheader-2 .megamenu-style-dev .container-megamenu.vertical #menuHeading {
    height: 50px; }
  .typeheader-2 .megamenu-style-dev .container-megamenu.vertical:hover .vertical-wrapper {
    display: block; }
  .typeheader-2 .megamenu-style-dev .container-megamenu.vertical .vertical-wrapper {
    display: none;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.15); }
  .typeheader-2 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-2 .megamenu-style-dev .horizontal ul.megamenu > li.active > a, .typeheader-2 .megamenu-style-dev .horizontal ul.megamenu > li:hover > a {
    background: rgba(0, 0, 0, 0.1); }
  .typeheader-2 .megamenu-style-dev .horizontal ul.megamenu > li {
    transition: all 0.3s ease 0s; }
  @media (min-width: 1200px) {
        .typeheader-2 .megamenu-style-dev .horizontal ul.megamenu > li.deal-h5 {
          display: block !important;
          float: right; }
          .typeheader-2 .megamenu-style-dev .horizontal ul.megamenu > li.deal-h5 a {
            padding: 18px 0; }
          .typeheader-2 .megamenu-style-dev .horizontal ul.megamenu > li.deal-h5:hover a {
            color: #222;
            background: transparent; } }
  .typeheader-2 .megamenu-style-dev .horizontal ul.megamenu > li > a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 26px 0px 13px;
    position: relative;
    text-transform: uppercase;
    height: 50px;
    margin-right: 1px; }
    .typeheader-2 .megamenu-style-dev .horizontal ul.megamenu > li > a strong {
      font-weight: bold; }
    .typeheader-2 .megamenu-style-dev .horizontal ul.megamenu > li > a .caret {
      position: absolute;
      right: 12px;
      top: 24px;
      z-index: 999;
      content: ""; }
